@media screen and (min-width: 576px){

    .container-md{
        height: 100vh;
    }

    /* .side-bar */

    .side-bar{
        display: block;
    }

}

@media screen and (min-width: 992px){
    
    #webapp{
        padding: 50px 0;
    }

    .container-lg{
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }
}