@media screen and (min-width: 576px){

    .container-sm{
        height: 100vh;
    }

    /* .side-bar */

    .side-bar{
        display: block;
    }

}

@media screen and (max-width: 768px){

    .display-md-none{
        display: none;
    }

    .avatar-description:not(.main-bar .avatar-description){
        display: none;
    }

    .side-bar{
        width: 70px;
    }



}

@media screen and (min-width: 992px){
    
    #webapp{
        padding: 50px 0;
    }

    .container-lg{
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }

    .main-bar__chat-content [class^=chat-text]{
        max-width: 350px;
    }
}