@media screen and (min-width: 576px){

    .display-md-none{
        display: none;
    }

    .avatar-description:not(.main-bar .avatar-description){
        display: none;
    }

    /* .side-bar */

    .side-bar{
        display: block;
    }
}

@media screen and (min-width: 768px){
    
    #webapp{
        padding: 50px 0;
    }

    .container-lg{
        width: 80%;
        margin: 0 auto;
        height: 100%;
    }

    .avatar-description:not(.main-bar .avatar-description){
        display: block;
    }

    /* .side-bar */

    .side-bar{
        width: 300px;
    }

    .side-bar__menu{
        display: flex;
    }

    /* .main-bar */

    .main-bar__chat-content [class^=chat-text]{
        max-width: 350px;
    }
}