:root{
    --white: #ffffff;
    --green: #069689;
    --gray:#DCDBD2;
    --lightgray: #EAEAEA;
    --light-darkgray: #F3EEEA;
    --lightblue: #8EDAFD;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

#webapp{
    height: 100vh;
    background: linear-gradient(to bottom, var(--green) 0, var(--green) 15vh,  var(--gray)15vh, var(--gray)100vh);
}

.main-content{
    background-color: var(--white);
}

.container-sm{
    width: 100%;
}