:root{
    --white: #ffffff;
    --lightgreen: #D5FABA;
    --green: #069689;
    --gray:#DCDBD2;
    --darkgray: #B1B1B1;
    --lightgray: #EAEAEA;
    --light-darkgray: #F3EEEA;
    --lightblue: #8EDAFD;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

#webapp{
    height: 100vh;
    background: linear-gradient(to bottom, var(--green) 0, var(--green) 150px,  var(--gray)150px, var(--gray)100vh);
}

/* Utilities */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-self-end{
    align-self: flex-end;
}

.gap-10{
    gap: 10px;
}

.p-relative{
    position: relative;
}

.text-center{
    text-align: center;
}

/* Features */

.avatar-img{
    border-radius: 50%;
    width: 50px;
}

.avatar-description{
    margin-left: 5px;
    margin-right: auto;
    padding: 3px;
    align-self: center;
}

.avatar-description strong{
    font-size: 14px;
}

.avatar-description span{
    display: block;
    font-size: 12px;
    color: var(--darkgray);
}

/* Main */

.container{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .row{
    height: 100%;
}

/* .side-bar __  Header*/

.side-bar{
    display: none;
    width: 70px;
    flex-shrink: 0;
}

.side-bar__header{
    height: 60px;
    padding: 5px 10px;
    background-color: var(--light-darkgray);
}

.side-bar__menu i{
    font-size: 20px;
    color: var(--darkgray);
}

/* .side-bar__notification */

.side-bar__notification{
    flex-shrink: 0;
}

.side-bar__notification .row{
    padding: 10px;
    background-color: var(--lightblue);
}

.side-bar__notification .bell{
    align-self: center;
}

.side-bar__notification .bell i{
    color: var(--lightblue);
    background-color: var(--white);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 15px;
    padding: 8px;
    text-align: center;
}

.side-bar__notification .bell__description{
    margin-left: 5px;
    padding: 3px;
}

.side-bar__notification .bell__description strong{
    font-size: 13px;
}

.side-bar__notification .bell__description a{
    display: block;
    font-size: 12px;
    text-decoration: underline;
}

/* .side-bar__search-bar */

.side-bar__search-bar{
    padding: 10px;
    background-color: var(--light-darkgray);
    flex-shrink: 0;
}

.side-bar__search-bar:hover{
    box-shadow: inset 0 0 10px var(--gray);
}

.side-bar__search-bar input[type="search"]{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
}

/* .side-bar__chat-list */

nav{
    flex-grow: 1;
    overflow: auto;
}

.chat-card{
    border-bottom: 1px solid var(--light-darkgray);
}

.chat-card a:hover{
    box-shadow: inset 0 0 10px var(--gray);
}

.chat-card a{
    height: 70px;
    padding: 10px;
}

.chat-time {
    font-size: 10px;
    color: var(--darkgray);
    padding: 10px;
}

/* .main-bar */

.main-bar{
    flex-grow: 1;
}

/* .main-bar__header */

.main-bar__header{
    height: 60px;
    padding: 5px 10px;
    background-color: var(--light-darkgray);
    border-left: 1px solid var(--darkgray);
    flex-shrink: 0;
}

.main-bar__menu{
    justify-self: flex-end;
}

.main-bar__menu i{
    font-size: 20px;
    color: var(--darkgray);
}

/* main-bar__chat-content */

.main-bar__chat-content{
    background-image: url(../img/mine.jpg);
    padding: 50px;
    flex-grow: 1;
    gap: 10px;
    overflow: auto;
}

.main-bar__chat-content [class^=chat-text]{
    width: 60%;
    padding: 15px;
    font-size: 12px;
    border-radius: 10px;
}

.main-bar__chat-content [class^=chat-text] i,
.main-bar__chat-content [class^=chat-text] span{
    color: var(--darkgray);
    font-size: 10px;
}

.main-bar__chat-content [class^=chat-text] i:hover{
    color: var(--green);
}

.chat__dropdown li{
    margin: 5px 0;
    padding: 5px 15px;
}

.chat__dropdown li:hover{
    background-color: var(--lightgray);
}

.chat__dropdown{
    position: absolute;
    top:30px;
    right: 0;
    background-color: var(--white);
    font-size: 14px;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
    display: none;
}

.fa-angle-down:hover ~ .chat__dropdown{
    display: block;
}

.chat-text__green{
    background-color: var(--lightgreen);
}

.chat-text__white{
    background-color: var(--white);
}

/* .main-bar form */

.main-bar form{
    height: 50px;
    color: var(--darkgray);
    background-color: var(--light-darkgray);
    padding: 4px;
    flex-shrink: 0;
}

.main-bar form i{
    font-size: 20px;
    vertical-align: middle;
    width: 50px;
    flex-shrink: 0;
    padding: 5px;
    text-align: center;
}

form input[type="text"]{
    border: none;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}


